* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {

} */

div {
    font-family: 'Calibri';
}

div.container {
    display:grid;
    grid-template: 1fr 1fr 1fr;
    grid-area: "h h"
               "m m"
               "f f"
}

header {
    padding: 10px;
    border: 2px solid #0F0;
    grid-template-areas: h;
}

main {
    padding: 10px;
    border: 2px solid #00F;
    grid-template-areas:m;
}

footer {
    padding: 10px;
    border: 2px solid #F00;
    grid-template-areas: f;
}

h2 {
    margin: 10px 0px;
    font-family:'Verdana';
    font-size: 18px;
}

h3 {
    margin-bottom: inherit;
    font-family: inherit;
    font-size: 16px;
}


